sudo

pip3 install ipython[notebook]
pip3 install django-clear-cache
python3 manage.py collectstatic

pip3 install wheel
pip3 install pandas

python3 -m pip install seaborn

pip3 install -U scikit-learn scipy matplotlib

pip3 install bangla

pip3 install langdetect 

pip install newspaper3k

pip install -r requirements.txt